{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="cart-section flex flex-center">
        <div class="container flex flex-column flex-center-y flex-start text-light">
            <div class="cart-heading-wrapper flex flex-center-y flex-between">
                <h2 class="cart-heading">Your Cart</h2>
                {% if total < free_delivery_threshold %}
                <h3 class="cart-heading-shipping">
                    Hey, {{ user.username }}!
                    You are {{ free_delivery_amount_left }} € away from free shipping!
                </h3>
                {% endif %}
                {% if total >= free_delivery_threshold %}
                <h3 class="cart-heading-shipping">
                    Hey, {{ user.username }}!
                    You get free shipping!
                </h3>
                {% endif %}
            </div>
            {% if cart_items %}
                <table class="cart-table m-top">
                        <tr>
                            <th></th>
                            <th>PRODUCT</th>
                            <th>EAN</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTIONS</th>
                        </tr>
                    {% for item in cart_items %}
                        <tr>
                            <td>
                                <img class="cart-image" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                            </td>
                            <td>
                                
                                <a href="{% url "product_detail" pk=item.product.pk %}">{{ item.product.name }}</a>
                            </td>
                            <td>
                                <p>{{ item.product.ean }}</p>
                            </td>
                            <td>
                                <p>{{ item.product.price }} €</p>
                            </td>
                            <td>
                                <form id="update-form_{{ item.item_id }}" data-item-id="{{ item.item_id }}" class="update-form" method="post" action="{% url 'update_cart_quantity' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="quantity-selector">
                                        <button class="decrement-quantity"
                                            data-item-id="{{ item.item_id }}"
                                            id="decrement-quantity_{{ item.item_id }}">
                                            <i data-lucide="minus"></i>
                                        </button>
                                        <input class="quantity-counter" id="quantity-counter_{{ item.item_id }}" name="quantity-counter"
                                            type="text"
                                            value="{{ item.quantity }}"/>
                                        <button class="increment-quantity"
                                            data-item-id="{{ item.item_id }}"
                                            id="increment-quantity_{{ item.item_id }}">
                                            <i data-lucide="plus"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <button id="update-cart_{{ item.item_id }}" class="update-cart-button">UPDATE CART</button>
                                <button id="delete-item_{{ item.item_id }}" class="delete-item-button">DELETE</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="table-summary-text"><p>Subtotal:</p></td>
                            <td class="table-summary-value" colspan="2">
                                <p>{{ total|floatformat:2 }} €</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="table-summary-text"><p>Tax:</p></td>
                            <td class="table-summary-value" colspan="2">
                                <p>{{ tax|floatformat:2 }} €</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="table-summary-text"><p>Shipping:</p></td>
                            <td class="table-summary-value" colspan="2">
                                <p>{{ shipping|floatformat:2 }} €</p>
                            </td>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="table-summary-text"><p><strong>Total:</strong></p></td>
                                <td class="table-summary-value" colspan="2">
                                    <p><strong>{{ grand_total|floatformat:2 }} €</strong></p>
                                </td>
                            </tr>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <a href="{% url 'checkout' %}" id="to-checkout" class="cta-button-link checkout-button m-top-small">SECURE CHECKOUT</a>
                            </td>
                        </tr>
                </table>
            {% else %}
                <p class="m-top-small">There is nothing to see here yet.</p>
                <a class="cta-button-link text-light m-top-large" href="{% url 'shop' %}">KEEP SHOPPING</a>
            {% endif %}
        </div>
    </section>
{% endblock content %}
