{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero-section flex flex-center">
        <div class="swiper container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h1>Get stylish shirts</h1>
                        <p class="slide-text">From freak to fancy - we got it!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="#">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="#">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-1.webp' %}" alt="first hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2>Captain Beard approves us.<br>So should you.</h2>
                        <p class="slide-text">Streetwear straight from Berlin City!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="#">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="#">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-2.webp' %}" alt="second hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2>Hipsters, Emos and Youngsters welcome!</h2>
                        <p class="slide-text">Get your style fix with ShirtMonster!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="#">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="#">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-3.webp' %}" alt="third hero image">
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <section class="collection-section flex flex-center flex-column">
        <h2 class="text-light">NEW COLLECTION 2024</h2>
        <div class="container grid m-top-large">
            {% for product in products|slice:"10" %}
                {% if product.category_id.name == "hoodies" %}
                    <div class="product-card">
                        <div class="product-action-icons flex flex-column">
                            <i data-lucide="heart"></i>
                            <i class="m-top" data-lucide="info"></i>
                        </div>
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                        <div class="product-header flex flex-between flex-center-y text-light">
                            <p class="product-name">{{ product.name }}</p>
                            <div class="product-rating">{{ product.rating }}</div>
                        </div>
                        <div class="product-info flex flex-between flex-center-y text-light">
                            <h3 class="product-price">{{ product.price }} €</h3>
                            <button class="to-cart-button text-light">BUY</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="-section flex flex-center flex-column">
        
    </section>
{% endblock content %}
