{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero-section flex flex-center">
        {% comment %} CTA Elements on small devices {% endcomment %}
        <div class="mobile-cta">
            <div class="mobile-cta-text flex flex-center flex-column text-light">
                <h1 class="main-heading">Get stylish shirts</h1>
                <p class="slide-text">From freak to fancy - we got it!</p>
            </div>
            <div class="cta-mobile flex">
                <a class="cta-button-link text-light" href="{% url "shop" %}">SHOP NOW</a>
                {% if user.is_authenticated %}
                <a class="cta-button-link text-light hide" href="{% url "account_signup" %}">REGISTER</a>
                {% else %}
                <a class="cta-button-link text-light m-left" href="{% url "account_signup" %}">REGISTER</a>
                {% endif %}
            </div>
        </div>
        {% comment %} CTA Elements on small devices end {% endcomment %}
        <div class="swiper container">
            <div class="cta flex">
                <a class="cta-button-link text-light" href="{% url "shop" %}">SHOP NOW</a>
                {% if user.is_authenticated %}
                <a class="cta-button-link text-light hide" href="{% url "account_signup" %}">REGISTER</a>
                {% else %}
                <a class="cta-button-link text-light m-left" href="{% url "account_signup" %}">REGISTER</a>
                {% endif %}
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h1 class="main-heading">Get stylish shirts</h1>
                        <p class="slide-text">From freak to fancy - we got it!</p>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-1.webp' %}" alt="first hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2 class="main-heading-h2">Captain Beard approves us.<br>So should you.</h2>
                        <p class="slide-text">Streetwear straight from Berlin City!</p>
                        <div class="cta flex flex-between m-top-small">
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-2.webp' %}" alt="second hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2 class="main-heading-h2">Hipsters, Emos and Youngsters welcome!</h2>
                        <p class="slide-text">Get your style fix with ShirtMonster!</p>
                        <div class="cta flex flex-between m-top-small">
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-3.webp' %}" alt="third hero image">
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <section class="usp-section flex flex-center">
        <div class="container flex flex-center">
            <div class="usp-heading column-2 text-light flex">
                <h2>Best customer experience - <br> provided by us.</h2>
            </div>
            <div class="usp-text column-2 text-light flex">
                <p>
                    Whether you need a new stylish shirt or want order a custom print. We help you fulfill your wishes!
                </p>
            </div>
        </div>
    </section>

    <section class="collection-section flex flex-center flex-column">
        <h2 class="text-light">NEW COLLECTION 2024</h2>
        <div class="container grid m-top-large">
            {% for product in products|slice:"10" %}
                    <div class="product-card">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                        <div class="product-header flex flex-between flex-center-y text-light">
                            <p class="product-name">{{ product.name }}</p>
                            <div class="product-rating">{{ product.rating }}</div>
                        </div>
                        <div class="product-info flex flex-between flex-center-y text-light">
                                <h3 class="product-price">{{ product.price }} €</h3>
                                <a class="cta-button-link text-light" href="{% url "product_detail" pk=product.pk %}">DETAILS</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>

    <section class="usp-section flex flex-center">
        <div class="container flex flex-center">
            <div class="usp-text column-2 text-light">
                    <h2>Why choose us?</h2>
                    <p class="m-top-small">
                        Check out why you should Shirtmonster as your apparel brand!
                    </p>
            </div>
            <div class="usp-text column-2 flex flex-center flex-column text-light">
                <div class="flex m-bottom">
                    <i class="usp-icons" data-lucide="palette"></i>
                    <h3 class="m-left">100% biodegradable colors</h3>
                </div>
                <div class="flex m-bottom">
                    <i class="usp-icons" data-lucide="flower"></i>
                    <h3 class="m-left">100% organic cotton</h3>
                </div>
                <div class="flex m-bottom">
                    <i class="usp-icons" data-lucide="diameter"></i>
                    <h3 class="m-left">100% unisex sizes</h3>
                </div>
                <div class="flex">
                    <i class="usp-icons" data-lucide="zap"></i>
                    <h3 class="m-left">100% badass</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section flex flex-center">
        <div class="container flex flex-center">
            <div class="team-text column-2 text-light">
                <h2>Meet the team!</h2>
                <p class="m-top-small">
                    Welcome to ShirtMonster, your creative hub for high-quality 
                    and unique Print on Demand products! Since our inception
                    in 2019, we have carved a niche for ourselves as innovators
                    in the realm of individually designed clothing and accessories.
                    <br>
                    Our journey commenced with the vision of helping people
                    express their personal style and make unique statements.
                    Fueled by a passion for design and a commitment to the
                    highest quality, we brought ShirtMonster to life. Our
                    team of talented artists, graphic designers, and printing
                    experts collaborates seamlessly to offer a diverse range
                    of products that not only exude style but also speak to
                    individual personality.
                </p>
            </div>
            <div class="team-text column-2 flex flex-end">
                <img class="team-image" src="{% static 'img/heroes/shirtmonster-team.webp' %}" alt="Our super cool team!">
            </div>
        </div>
    </section>

    <section class="testimonial-section flex flex-center">
        <div class="swiper container">
            <h2 class="m-bottom-large text-light text-center">Check out what our customers are saying:</h2>
            <div class="swiper-wrapper m-top">
                {% for testimonial in testimonials %}
                <div class="swiper-slide flex">
                    <div class="slide-testimonial flex flex-center flex-column text-light">
                        <h3 class="m-bottom">
                            <span class="testimonial-user">{{ testimonial.user_id }}<span> on {{ testimonial.created_at|date:'d.m.Y' }}
                        </h3>
                        <p class="slide-text"><i>"{{ testimonial.content }}"</i></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
