{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero-section flex flex-center">
        <div class="swiper container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h1>Get stylish shirts</h1>
                        <p class="slide-text">From freak to fancy - we got it!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="{% url "shop" %}">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="{% url "account_signup" %}">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-1.webp' %}" alt="first hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2>Captain Beard approves us.<br>So should you.</h2>
                        <p class="slide-text">Streetwear straight from Berlin City!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="{% url "shop" %}">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="{% url "account_signup" %}">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-2.webp' %}" alt="second hero image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="slide-info flex flex-start flex-column text-light">
                        <h2>Hipsters, Emos and Youngsters welcome!</h2>
                        <p class="slide-text">Get your style fix with ShirtMonster!</p>
                        <div class="cta flex flex-between m-top-small">
                            <a class="cta-button-link text-light" href="{% url "shop" %}">SHOP NOW</a>
                            <a class="cta-button-link text-light" href="{% url "account_signup" %}">REGISTER</a>
                        </div>
                    </div>
                    <img src="{% static 'img/heroes/shirtmonster-hero-3.webp' %}" alt="third hero image">
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <section class="collection-section flex flex-center flex-column">
        <h2 class="text-light">NEW COLLECTION 2024</h2>
        <div class="container grid m-top-large">
            {% for product in products|slice:"10" %}
                {% if product.category_id.name == "hoodies" %}
                    <div class="product-card">
                        <div class="product-action-icons flex flex-column">
                            <i data-lucide="heart"></i>
                            <i class="m-top" data-lucide="info"></i>
                        </div>
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                        <div class="product-header flex flex-between flex-center-y text-light">
                            <p class="product-name">{{ product.name }}</p>
                            <div class="product-rating">{{ product.rating }}</div>
                        </div>
                        <div class="product-info flex flex-between flex-center-y text-light">
                            <h3 class="product-price">{{ product.price }} €</h3>
                            <form action="{% url 'add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="to-cart-button text-light">BUY</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="team-section flex flex-center">
        <div class="container flex flex-center">
            <div class="column-2 text-light">
                <h2>Best customer experience - <br> provided by us.</h2>
            </div>
            <div class="column-2 text-light">
                <article>
                    <p>
                        Whether you need a new stylish shirt or want order a custom print. We help you fulfill your wishes!
                    </p>
                </article>
            </div>
        </div>
    </section>

    <section class="team-section flex flex-center">
        <div class="container flex flex-center">
            <div class="column-2 text-light">
                <article>
                    <h2>Meet the team!</h2>
                    <p class="m-top-small">
                        Welcome to ShirtMonster, your creative hub for high-quality 
                        and unique Print on Demand (POD) products! Since our inception
                        in 2019, we have carved a niche for ourselves as innovators
                        in the realm of individually designed clothing and accessories.
                        <br>
                        Our journey commenced with the vision of helping people
                        express their personal style and make unique statements.
                        Fueled by a passion for design and a commitment to the
                        highest quality, we brought ShirtMonster to life. Our
                        team of talented artists, graphic designers, and printing
                        experts collaborates seamlessly to offer a diverse range
                        of products that not only exude style but also speak to
                        individual personality.
                    </p>
                </article>
            </div>
            <div class="column-2 flex flex-end">
                <img class="team-image" src="{% static 'img/heroes/shirtmonster-team.webp' %}" alt="Our super cool team!">
            </div>
        </div>
    </section>
{% endblock content %}
