{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="user-section flex flex-center">
    <div class="container flex flex-center">
        <div class="column-2 flex flex-start flex-column text-light">
            <h3 class="m-bottom">Hello, {{ user.username }}! This a past order:</h3>
            <p>Order-No.: {{ orders.order_number }}</p>
            <p>Order Date: {{ orders.order_date|date:'d.m.Y' }}</p>
            <p class="m-top">Shipped to:</p>
            <p>{{ orders.full_name }}</p>
            <p class="m-top">Address:</p>
            <p>{{ orders.adress_line_1 }}</p>
            <p>{{ orders.zip_code }} {{ orders.city }}</p>
            <p>{{ orders.country }}</p>
            <p class="m-top">Items bought:</p>
            {% for item in order_items %}
            <p>Name: {{ item.product.name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            {% endfor %}
        </div>
        <div class="order-history column-2 flex flex-center flex-column text-light">
            {% if testimonial_content %}
            <p>
                This is your latest written testimonial:
            </p>
            {% else %}
            <p>
                Please consider to write a testimonial for us!
            </p>
            {% endif %}
            <form class="flex flex-center flex-column m-top" action="{% url 'order_detail' order_number=orders.order_number %}" method='post' id="testimonial-form">
                {% csrf_token %}
                {{ testimonial_form }}
                <button type="submit" name="save-testimonial" class="cta-button-link text-light">SAVE TESTIMONIAL</button>
                <button type="submit" name="update_testimonial" class="cta-button-link text-light">UPDATE TESTIMONIAL</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}