{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="flex flex-center">
        <container class="flex flex-center flex-column">
            {% if user.is_authenticated %}
            <h2 class="text-light">Hey {{ user.username }}, this is your wishlist!</h2>
            {% for wish in wishes %}
                <div class="wishlist-item m-top m-bottom flex">
                    <img src="{{ wish.product_id.image_url }}" alt="{{ wish.product_id.name }}" class="wishlist-image">
                    <div class="wishlist-item-header flex flex-column">
                        <h3 class="text-light">{{ wish.product_id.name }}</h3>
                        <div class="flex flex-center-y flex-between text-light">
                            <i class="" data-lucide="tags"></i>
                            <p>{{ wish.product_id.category_id.display_name }}</p>
                            <p>ADDED ON: {{ wish.added_on }}</p>
                        </div>
                        <div class="item-description m-top text-light">
                            <p>{{ wish.product_id.description }}</p>
                        </div>
                        <div class="wishlist-product-info flex flex-between text-light m-top">
                            <div><p>EAN: {{ wish.product_id.ean }}</p></div>
                            <div><p>PRICE: {{ wish.product_id.price }} €</p></div>
                            <div><p></p></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <h2>Sorry, nothing is here yet!</h2>
            {% endif %}
        </container>
    </section>
{% endblock content %}