{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Custom Shirts{% endblock extra_title %}

{% block content %}
<section class="inquiry-section flex flex-center">
    <div class="container flex flex-center flex-column text-light text-center">
        <h1>
            <small>Hey shirt friend, looks like you need a custom shirt!<br>
            Please use the form below to make an inquiry!<br>
            You can also contact us normally here.</small>
        </h1>
        <form class="inquiry-form text-light flex flex-center flex-column flex-center m-top"
                action="{% url 'custom_shirts' %}" method='post' id="inquiry-form"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ inquiry_form }}
            <p class="m-bottom">With * marked fields are mandatory.</p>
            <button class="cta-button-link text-light">SEND INQUIRY</button>
        </form>
    </div>
</section>
{% endblock %}