/*
CSSRoot is used for declaring the website colors as global variables.
Declare them once and then use the variable name as value within the CSS.
*/
:root {

    --color-primary: #D80263;
    --color-primary-hover: #d6327c;
    --color-secondary: #7E3ADF;
    --color-secondary-hover: #8d54dd;
    --primary-dark-trans: rgba(0, 0, 0, 0.4);
    --primary-dark: #191818;
    --secondary-dark: #2F2F2F;
    --primary-gradient: linear-gradient(45deg, rgba(216, 2, 99, 1) 0%, rgba(126, 58, 223, 1) 100%);
    --white: #FFFFFF;
    --black: #000000;
    --toast-success: #7fd171;
    --toast-error: #d17171;
    --toast-warning: #d1cc71;
    --toast-info: #7181d1;
}

/*
The following sets all elements in the DOM to have no padding, no margin and the box-sizing.
This includes the ::before and ::after pseudo-elements
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Here we set the HTML scroll behaviour to smooth scroll. */
html {
    scroll-behavior: smooth;
}

/* BODY STYLES */
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    padding-top: 25px;
}

/* TEXT CLASSES */
.text-light {
    color: var(--white);
}

.text-dark {
    color: var(--black);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
}

/* FLUID HEADINGS */
h1 {
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    font-weight: 700;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
    font-weight: 600;
}

h3 {
    font-family: 'montserrat', sans-serif;
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    font-weight: 500;
}

/* FLUID TEXT */
p {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

/*MAIN STYLES*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* DESKTOP SECTION */
section {
    width: 100vw;
    padding: 5rem 16rem 5rem 16rem;
}

/* CONTAINER */
.container {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* FLEXBOX */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

/* GRID SETTINGS DESKTOP */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* MARGIN LAYOUT CLASSES */
/* These are used for icons and smaller elements */
.m-top {
    margin-top: 0.625rem;
}

.m-bottom {
    margin-bottom: 0.625rem;
}

.m-left {
    margin-left: 0.625rem;
}

.m-right {
    margin-right: 0.625rem;
}

.social-link {
    color: var(--color-primary);
    cursor: pointer;
}

.social-link:hover {
    color: var(--color-primary-hover);
}

/* These are used for margin between headings and containers etc. */
.m-top-large {
    margin-top: 3.125rem;
}

.m-bottom-large {
    margin-top: 3.125rem;
}

.m-top-small {
    margin-top: 1.5625rem;
}

.m-bottom-small {
    margin-top: 1.5625rem;
}

/* MESSAGES */
.message-container {
    width: auto;
    background-color: var(--secondary-dark);
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 2;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: 0.5s ease-in-out;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    display: block;
}

.toast-success {
    border: 2px solid var(--toast-success);
}

.icon-success {
    color: var(--toast-success);
    margin-right: 1rem;
}

.toast-error {
    border: 2px solid var(--toast-error);
}

.icon-error {
    color: var(--toast-error);
    margin-right: 1rem;
}

.toast-warning {
    border: 2px solid var(--toast-warning);
}

.icon-warning {
    color: var(--toast-warning);
    margin-right: 1rem;
}

.toast-info {
    border: 2px solid var(--toast-info);
}

.icon-info {
    color: var(--toast-info);
    margin-right: 1rem;
}

/* HEADER SETTINGS */
.header {
    width: 100%;
    height: auto;
    background-color: var(--primary-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.top-nav {
    padding: 0.3125rem 16rem 0.3125rem 16rem;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 100%;
}

.logo {
    width: 10rem;
}

.main-search {
    font-family: 'poppins', sans-serif;
    width: 31.25rem;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    border: none
}

.main-search:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

.main-search-button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    width: 76px;
    padding: 5px;
    color: var(--white);
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s ease-in-out;
}

.main-search-button:hover {
    background-color: var(--color-primary-hover);
    border: 1px solid var(--color-primary-hover);
}

.auth-box a:nth-child(even) {
    margin-left: 1rem;
    margin-right: -1rem;
}

.bottom-nav {
    padding: 0.3125rem 16rem 0.3125rem 16rem;
    background: var(--primary-gradient);
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

.main-nav ul li:nth-child(1) {
    margin-left: 0;
}

.main-nav ul li a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

.filter-nav {
    width: auto;
}

.main-nav ul li a:hover {
    color: var(--primary-dark);
}

.filter-nav ul {
    list-style-type: none;
    width: 100%;
}

.filter-nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

.filter-nav ul li:nth-child(1) {
    margin-left: 0;
}

.filter-nav ul li a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

.filter-nav ul li a:hover {
    color: var(--primary-dark);
}

.user-nav {
    width: 100%;
}

.user-nav ul {
    list-style-type: none;
    width: 100%;
}

.user-nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

.grand-total {
    margin-left: 5px;
}

.user-nav ul li a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

.user-nav ul li a:hover {
    color: var(--primary-dark);
}

.dropdown {
    position: relative;
    cursor: pointer;
    border-left: 2px solid var(--white);
    padding-left: 0.5rem;
    height: 60%;
}

.dropdown-box {
    position: absolute;
    top: 100px;
    left: 1572px;
    background-color: var(--primary-dark);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown-box-center {
    position: absolute;
    top: 100px;
    left: 1107px;
    background-color: var(--primary-dark);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown-link {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    transition: 0.5s ease-in-out;
}

.dropdown-link:hover {
    color: var(--color-primary-hover);
}

/* DISPLAY CLASSES */
.hide {
    display: none;
}

.mobile-icon-wrapper {
    display: none;
}

.active {
    color: var(--primary-dark);
}

/* SLIDER SETTINGS */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary-dark-trans);
}

.slide-info {
    position: absolute;
    width: 100%;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.slide-text {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.cta {
    width: 20%;
    position: absolute;
    z-index: 99;
    top: 480px;
    left: 80px;
}

.cta-button-link {
    padding: 8px 16px 8px 16px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.cta-button-link:hover {
    background-color: var(--color-primary-hover);
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--white) !important;
    opacity: 40%;
}

.swiper-scrollbar {
    background: var(--color-secondary-hover) !important;
    opacity: 40%;
}

.main-heading,
.main-heading-h2,
.slide-text{
    width: 80%!important;
}

/* SHOP PAGE */

.banner {
    margin-top: 60px;
    text-align: center;
    background: var(--primary-gradient);
    padding: 1.5rem;
    border-radius: 10px;
}

/* PRODUCT CARD SETTINGS */
.product-card {
    position: relative;
    background-color: var(--primary-dark);
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.product-header {
    padding: 5px 10px 5px 10px
}

.product-name,
.product-rating {
    font-family: 'poppins', sans-serif;
}

.product-info {
    padding: 5px 10px 5px 10px
}

.to-cart-button {
    width: 99px;
    height: 33px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out
}

.to-cart-button:hover {
    background-color: var(--color-primary-hover);
}

.product-action-icons {
    position: absolute;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
}

.product-detail-icon {
    color: var(--color-primary);
    transition: 0.5s ease-in-out
}

.product-detail-icon:hover {
    color: var(--color-primary-hover);
}

.product-detail-icon:visited {
    color: var(--color-primary-hover);
}

#product-category {
    position: absolute;
    color: var(--color-primary);
    right: 5px;
    bottom: 85px;
}

#wish-product-category {
    color: var(--color-primary);
}

/* ABOUT SECTION */
.team-image {
    width: 95%;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
}

/* PRODUCT DETAILS PAGE */
.product-detail-section {
    height: 100vh;
}

.product-detail-image {
    width: 50%;
}

/* CART PAGE */
.cart-section {
    min-height: 100vh;
}

/* Cart table styles */

table, tr, td, th {
    border: none;
    padding: 0.5rem;
}

.cart-heading-wrapper {
    width: 100%;
}

.cart-heading {
    text-align: left;
}

.cart-heading-shipping {
    text-align: right;
}

.cart-table {
    width: 100%;
    font-family: 'poppins', sans-serif;
}

.cart-table th {
    width: 500px;
    height: 40px;
    background-color: var(--black);
}

.cart-table td {
    text-align: center;
}

.update-cart {
    width: 100%;
}

.cart-table td:nth-child(7) {
    text-align: right;
}
.cart-table td:nth-child(8) {
    text-align: right;
}

.cart-image {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
}

.table-summary-text {
    text-align: right!important;
    background-color: var(--black);
}

.table-summary-value {
    text-align: right!important;
}

.quantity-counter {
    height: 40px;
    background-color: var(--secondary-dark);
    border: none;
    text-align: center;
    color: var(--white);
    font-family: 'poppins', sans-serif;
}

.mobile-summary {
    display:none;
}

/* AUTH PAGES */

label {
    font-family: 'poppins', sans-serif;
}

/* Login */
.auth-section {
    height: 100vh;
}

.home-link {
    width: 100%;
}

.login-logo {
    width: 30%;
}

.login-form {
    background-color: var(--secondary-dark);
    padding: 25px;
    border-radius: 10px;
}

label[for=id_login] {
    display: none;
}

#id_login {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    font-family: 'poppins', sans-serif;
}

#id_login:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

label[for=id_password] {
    display: none;
}

#id_password {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_password:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

.login-link {
    color: var(--color-primary);
    transition: 0.5s ease-in-out;
}

.login-link:hover {
    color: var(--color-primary-hover);
}

.login-link:visited {
    color: var(--color-secondary-hover);
}

.form-link {
    font-family: 'poppins', sans-serif;
    font-size: 0.875rem;
    transition: 0.5s ease-in-out;
}

.form-link:hover {
    color: var(--color-primary-hover);
}

.form-link:visited {
    color: var(--color-secondary-hover);
}

.form-button {
    width: 100%;
    padding: 8px 0px 8px 0px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: 0.5s ease-in-out;
    font-family: 'poppins', sans-serif;
}

.form-button:hover {
    background-color: var(--color-primary-hover);
}

/* Logout */
.logout-section {
    min-height: 100vh;
}

/* Signup */
.signup-form {
    background-color: var(--secondary-dark);
    padding: 25px;
    border-radius: 10px;
}

.signup-form ul {
    margin-top: 2rem;
    font-family: 'poppins', sans-serif;
    text-align: center;
    list-style-type: none;
}

label[for=id_email] {
    display: none;
}

#id_email {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_email:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

label[for=id_email2] {
    display: none;
}

#id_email2 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
}

#id_email2:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}


label[for=id_username] {
    display: none;
}

#id_username {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
}

#id_username:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

label[for=id_password1] {
    display: none;
}

#id_password1 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
}

#id_password1:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

label[for=id_password2] {
    display: none;
}

#id_password2 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2rem;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    font-family: 'poppins', sans-serif;
}

#id_password2:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

/* Inquiries Page */
.inquiry-section {
    height: 100vh;
}

#inquiry-form {
    background-color: var(--secondary-dark);
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

#inquiry-form ul {
    display: none;
}

#id_full_name {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_full_name:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_phone {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_phone:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_inquiry {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
    resize: none;
}

#id_inquiry:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_image {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

#file-upload-button {
    padding: 8px 16px 8px 16px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* Profile page */
.user-section {
    min-height: 100vh;
}

.order-history {
    overflow-y: scroll;
    max-height: 704px;
}

.profile-form {
    background-color: var(--secondary-dark);
    padding: 25px;
    border-radius: 10px;
    max-height: 704px;
}

#id_zip_code {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_zip_code:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_city {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_city:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_adress_line_1 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_adress_line_1:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_adress_line_2 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_adress_line_2:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

#id_country {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-dark);
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'poppins', sans-serif;
}

#id_country:focus {
    outline: none;
    border: 1px solid var(--color-primary)
}

.order-detail-link {
    color: var(--color-primary);
}

.order-detail-link:visited {
    color: var(--color-primary-hover);
}

/*Testimonial page*/
.testimonial-form {
    width: 500px;
    background-color: var(--secondary-dark);
    font-family: 'poppins', sans-serif;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--color-primary-hover);
    padding: 5px;
    caret-color: var(--color-primary-hover);
    color: var(--white);
}

.testimonial-form:focus {
    border: 1px solid var(--color-primary);
}

.testimonial-buttons {
    width: 500px;
    padding: 0px 50px 0px 50px;
}

.testimonial-column {
    overflow: none;
}

.testimonial-section {
    height: auto;
}

/* Wishlist page */
.wishlist-section {
    min-height: 100vh;
}

.to-cart-button {
    margin-right: 2rem;
}

.remove {
    margin-right: 0;
}

.wishlist-form {
    display: flex;
}

.wishlist-item {
    width: 800px;
    height: 250px;
    background-color: var(--secondary-dark);
    border-radius: 10px;
}

.wishlist-item-header {
    padding: 15px;
}

.wishlist-image {
    width: 250px;
    height: 250px;
    border-radius: 10px 0 0 10px;
}

/* Checkout Pages */
fieldset {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-primary-hover);
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    margin-bottom: 0.625rem;
    background-color: var(--secondary-dark);
}

#card-element {
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    width: 80%;
}

.checkout-success-section {
    height: 100vh;
}

/*Error Pages*/ 
.error-section {
    height: calc(100vh - 8vh);
}

/* Footer */
footer {
    border-top: 1px solid var(--color-primary);
    width: 100vw;
    height: 8vh;
    padding: 0.3125rem 16rem 0.3125rem 16rem;
}

/* RESPONSIVE MEDIA QUERIES - AFTER BOOTSTRAP*/
@media (min-width: 0px) and (max-width: 576px) {

    .active {
        color: var(--color-primary);
    }

    /* Header Settings */
    .bottom-nav {
        position: fixed;
        top: 0;
        right: -70%;
        height: 100vh;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    }

    .bottom-nav-column {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-dark);
        padding: 3px;
        border-radius: 5px;
    }

    .main-nav ul li {
        margin: 0;
        text-align: center;
        display: block;
        width: 100%;
        height: auto;
    }

    .main-nav ul li:nth-child(2) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .filter-nav {
        width: 100%;
        height: auto;
        background-color: var(--primary-dark);
        padding: 3px;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .filter-nav ul {
        margin: 0;
        text-align: center;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .filter-nav ul li {
        margin: 0;
    }
    .user-nav {
        width: 100%;
        height: auto;
        background-color: var(--primary-dark);
        padding: 3px;
        border-radius: 5px;
    }

    .user-column {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: auto;
    }

    .user-nav ul {
        margin: 0;
        text-align: center;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-nav ul li {
        margin: 0;
    }

    .grand-total {
        display: none;
    }

    .auth-box {
        display: none;
    }

    .search-box {
        display: none;
        width: 100%;
        position: absolute;
        top: 44.98px;
        padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
        background-color: var(--primary-dark);
        transition: 0.5s ease-in-out;
    }

    .mobile-search-open,
    .mobile-search-close {
        margin-right: 1rem;
    }

    .hero-section>.swiper {
        display: none!important;
    }

    .top-nav {
        padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
        z-index: 99;
        border-bottom: 1px solid var(--color-primary);
        height: 6vh;
    }

    .logo-link {
        width: 100%;
    }

    .logo {
        width: 45%;
    }

    .mobile-icon-wrapper {
        display: flex;
    }

    .bottom-nav {
        transition: 1s ease-in-out;
    }

    /* Section Settings */
    section {
        width: 100vw;
        height: auto;
        padding: 3.125rem 0.625rem 3.125rem 0.625rem;
    }

    /* Hero Section Settings */
    .hero-section {
        width: 100vw;
        height: 50vh;
        background-image: url("/static/img/heroes/shirtmonster-hero-1-xs.webp");
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* USP Section Settings */
    .usp-section .container {
        width: 100%;
        flex-direction: column;
    }

    .usp-heading {
        width: 100%!important;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .usp-icons {
        color: var(--color-primary);
    }

    .usp-text {
        margin-top: 2rem;
        width: 100%!important;
        text-align: center;
    }

    /* New Collection Settings */
    .collection-section h2 {
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .team-section .container {
        flex-direction: column;
    }

    /* Team Section Settings */
    .team-text {
        text-align: center;
        width: 100%;
    }

    .team-image {
        margin-top: 1rem;
        width: 100%!important;
    }

    /* Testimonial Section Settings */

    .swiper-wrapper {
        width: 100%;
    }

    .slide-testimonial {
        text-align: center;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .slide-text i {
        width: 100%;
        text-align: center;
    }

    .testimonial-user {
        color: var(--color-primary);
    }

    /* Footer Settings */
    footer {
        width: 100vw;
        height: auto;
        padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    }

    footer .container {
        width: 100%;
        flex-direction: column;
    }

    .footer-column-left {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .footer-column-right {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    /* Product Details */
    .product-detail-section .container {
        flex-direction: column;
    }

    .product-column {
        width: 100%;
    }

    .product-detail-image {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 10px;
        border: 1px solid var(--color-secondary);
    }

    .product-description {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .product-buttons {
        justify-content: center;
    }

    /* Cart */
    .cart-heading-wrapper {
        flex-direction: column;
    }

    .cart-heading,
    .cart-heading-shipping {
        text-align: center;
    }

    .cta-button-link {
        padding: 4px 8px 4px 8px;
    }
    

    /* Mobile Cart Table */
    table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0px;
        table-layout: fixed;
        min-width: 100%;
    }

    .table-summary-text {
        text-align: left!important;
        background-color: var(--black);
    }

    table td {
        padding: 8px;
        display: block;
        text-align: right;
        width: 100%\9;
        float: left\9;
    }

    table tr {
        background-color: var(--secondary-dark);
        color: var(--white);
        text-align: center;
    }

    table tr:first-child {
        display: none;
    }

    table tr {
        display: block;
    }

    table td:not(:first-child) {
        border-top: 0px;
    }

    table .mobile-head {
        font-weight: bold;
        color: #000000;
        float: left;
        text-align: left;
        display: block;
    }

    table .show-on-mobile {
        display: block;
    }

    /* Wishlist Section */
    .section-header {
        text-align: center;
    }

    .wishlist-section {
        width: 100vw;
        height: auto;
    }

    .wishlist-item-header {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .wishlist-item {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .wishlist-image {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .item-description {
        text-align: center;
    }

    .wishlist-general-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wishlist-product-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wishlist-form {
        display: flex;
        margin-top: 1rem;
        width: 100%;
    }

    .to-cart-button {
        margin-right: 1rem;
    }

    .remove {
        margin-right: 0;
        margin-left: 1rem 
    }

    /* Checkout Page */
    .checkout-section {
        width: 100vw;
        height: auto;
        padding: 3.125rem 0.625rem 3.125rem 0.625rem;
    }

    .checkout-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #card-element {
        padding: 5px;
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        width: 95%;
    }

    /* Checkout Success Page */
    .checkout-success-section {
        width: 100vw;
        height: auto;
        padding: 3.125rem 0.625rem 3.125rem 0.625rem;
    }

    .checkout-success-section .container {
        justify-content: center;
        align-items: center;
    }

    .checkout-header {
        text-align: left;
    }

    .checkout-order-data {
        flex-direction: column;
    }

    .checkout-detail-header {
        width: 100%;
        text-align: left;
    }

    .checkout-order-detail {
        flex-direction: column;
    }

    .checkout-success-summary {
        flex-direction: column;
    }

    /* Profile Page */
    .user-section {
        width: 100%;
        height: auto;
    }

    .profile-header {
        width: 100%;
    }

    .user-section .container {
        flex-direction: column!important;
    }

    .order-history {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .order-history-header {
        margin-top: 2rem;
    }

    /* Testimonial Page */
    .testimonial-section {
        width: 100%;
        height: auto;
    }

    .testimonial-container {
        flex-direction: column;
    }

    .testimonial-form {
        width: 95%;
    }

    .testimonial-buttons {
        width: 100%;
    }

    .testimonial-column {
        width: 100%;
    }

    .textbox-header {
        color:var(--color-primary);
    }

}

@media (min-width: 576px) and (max-width: 768px) {

    /* PHONE SECTION */
    section {
        width: 100vw;
        height: auto;
        padding: 1.25rem 1.25em 1.25rem 1.25rem;
    }

    /* GRID SETTINGS PHONE */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    /* TABLET SECTION */
    section {
        width: 100vw;
        height: auto;
        padding: 3.125rem 2.5rem 3.125rem 2.5rem;
    }

    /* GRID SETTINGS TABLET */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    /* LAPTOP SECTION */
    section {
        width: 100vw;
        height: auto;
        padding: 1.25rem 1.25em 1.25rem 1.25rem;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {

    /* LAPTOP SECTION */
    section {
        width: 100vw;
        height: auto;
        padding: 1.25rem 1.25em 1.25rem 1.25rem;
    }

    /* GRID SETTINGS LAPTOP */
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

}