/* CSS ROOT FOR COLORS */
:root {

    --color-primary: #D80263;
    --color-primary-hover: #d6327c;
    --color-secondary: #7E3ADF;
    --color-secondary-hover: #8d54dd;
    --primary-dark-trans: rgba(0, 0, 0, 0.4);
    --primary-dark: #191818;
    --secondary-dark: #2F2F2F;
    --white: #FFFFFF;
    --black: #000000;

}

/* GLOBAL ELEMENT SETTINGS */
main {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

/* GLOBAL FLUID FONT SCALING */

body {
    font-family: 'poppins', sans-serif;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    background-color: var(--primary-dark);
    overflow-x: hidden;
}

h1 {
    font-family: 'montserrat', sans-serif;
    font-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
    font-weight: 700;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-size: clamp(0.9375rem, 0.6875rem + 1.25vw, 2.1875rem);
    font-weight: 600;
}

h3 {
    font-family: 'montserrat', sans-serif;
    font-size: clamp(0.75rem, 0.5875rem + 0.8125vw, 1.5625rem);
}

/* CUSTOM CSS */

/* Override for the search form focus glow */
.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.top-navigation {
    background-color: var(--primary-dark);
}

.logo {
    width: 150px;
}

.login-logo {
    width: 400px;
}

.bg-gradient {
    background: rgb(216, 2, 99);
    background: linear-gradient(90deg, rgba(216, 2, 99, 1) 0%, rgba(126, 58, 223, 1) 100%);
}

.search-button {
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
}

.search-button:hover {
    background-color: var(--color-primary-hover);
}

.search-icon {
    width: 16px;
    height: 16px;
}

.cta {
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.cta:hover {
    background-color: var(--color-primary-hover);
    text-decoration: none;
}

/* HERO SECTION */
.hero-slider {
    margin-top: 90px;
    padding: 0px 25px 0px 25px;
}

/* Override for the .carousel-item bootstrap class */
.carousel-item {
    position: relative !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-dark-trans);
}

/* FORMS */

/* Login Form */

.login {
    background-color: var(--secondary-dark);
}

.login label[for="id_login"] {
    display: none;
}

#id_login {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
}

.login label[for="id_password"] {
    display: none;
}

#id_password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
}

#id_remember {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.login-button {
    border: none;
    width: 100%;
}

.login-link {
    color: var(--color-secondary);
}

.login-link:hover {
    color: var(--color-secondary-hover);
}

/* Signup Form */

.signup {
    background-color: var(--secondary-dark);
}

.signup label[for="id_email2"] {
    display: none;
}

.signup label[for="id_email"] {
    display: none;
}

.signup label[for="id_username"] {
    display: none;
}

.signup label[for="id_password1"] {
    display: none;
}

.signup label[for="id_password2"] {
    display: none;
}

#id_email {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 250px;
}

#id_email2 {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 250px;
}

#id_username {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 250px;
}

#id_password1 {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 250px;
}

#id_password2 {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    width: 250px;
}

.signup-button {
    border: none;
    width: 100%;
}

.signup-link {
    color: var(--color-secondary);
}

.signup-link:hover {
    color: var(--color-secondary-hover);
}