{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<section class="auth-section flex flex-center flex-column text-light">
  <div class="container flex flex-center flex-column">
    <a href="{% url 'home' %}">
      <img class="home-link flex flex-center flex-column" src="{% static 'img/logo/shirtmonster-logo-white.svg' %}" alt="shirtmonster logo"></img>
    </a>
  </div>  
  <p class="text-light">{% trans 'Are you sure you want to sign out?' %}</p>
  <form class="" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="flex flex-center flex-column m-top-small">
      <button class="cta-button-link text-light" type="submit">{% trans 'Sign Out' %}</button>
      <a class="m-top" href="{% url 'home' %}">{% trans "Back to Homepage" %}</a>
    </div>
  </form>
</section>
{% endblock content %}
