{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        {% comment %} required meta tags {% endcomment %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0">
        <meta name="description" content="Shirtmonster is the first and best address for streetwear and apparel!">
        <meta name="keywords" content="streetwear, t-shirt, shirt, hoodie, print, pod, print on demand, fashion, apparel">
        <meta name="author" content="Daniel Stauffer">
        <meta name="apple-mobile-web-app-capable" content="yes">
    {% endblock meta %}

    {% comment %} the favicon {% endcomment %}
    <link rel="icon" type="image/x-icon" href="">

    {% block coreCSS %}
        {% comment %} Bootstraps CSS {% endcomment %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    {% endblock coreCSS %}

    {% block extraCSS %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% endblock extraCSS %}

    {% comment %} website title {% endcomment %}
    <title>SHIRTMONSTER {% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% comment %} DESKTOP NAVBAR HERE {% endcomment %}
    <header id="header" class="container-fluid fixed-top px-0">
        <div class="top-navigation container-fluid d-flex justify-content-center py-2">
            <div class="w-75 row text-white">
                <div class="col d-flex justify-content-start align-items-center">
                    <a href="{% url 'home' %}">
                        <img class="logo" src="https://shirtmonster.s3.eu-central-1.amazonaws.com/media/img/shirtmonster-logo-white.svg" alt="shirtmonster logo"></img>
                    </a>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <form class="w-100" method="get" action="">
                        <div class="input-group">
                            <input type="search" class="form-control" name="search" placeholder="Search our shop..." aria-label="Shop Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn search-button" type="button" id="button-addon2">
                                    <span class="icon">
                                        <i class="search-icon text-white" data-lucide="search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {% if user.is_authenticated %}
                <div class="col d-flex justify-content-end align-items-center">
                    <p class="mr-2 text-white px-4 py-1 mb-0">Hi, {{ user.username }}!</p>
                    <a class="mr-2 cta text-white px-4 py-1 rounded" href="{% url 'account_logout' %}">LOGOUT</a>
                    <a class="cta text-white px-4 py-1 rounded hide" href="#">REGISTER</a>
                </div>
                {% else %}
                    <div class="col d-flex justify-content-end align-items-center">
                        <a class="mr-2 cta text-white px-4 py-1 rounded" href="{% url 'account_login' %}">LOGIN</a>
                        <a class="cta text-white px-4 py-1 rounded" href="{% url 'account_signup' %}">REGISTER</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="bg-gradient container-fluid d-flex justify-content-center py-1">
            <div class="w-75 row text-white">
                <div class="col d-flex flex-row justify-content-between w-75 text-white">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link p-0 text-white" href="{% url 'home' %}">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 ml-4 text-white" href="#">SHOP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 ml-4 text-white" href="#">CATEGORIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 ml-4 text-white" href="#">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
                    {% if user.is_authenticated %}
                        <div class="icon-wrapper">
                            <i class="mr-4" data-lucide="list-todo"></i>
                            <i class="mr-4" data-lucide="user-circle"></i>
                            <i data-lucide="shopping-bag"></i>
                        </div>
                    {% else %}
                        <div class="icon-wrapper hide">
                            <i class="mr-4" data-lucide="list-todo"></i>
                            <i class="mr-4" data-lucide="user-circle"></i>
                            <i data-lucide="shopping-bag"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
            {% comment %} main content is inserted here {% endcomment %}
        {% endblock content %}
    </main>

    {% comment %} FOOTER HERE {% endcomment %}

    {% block coreJS %}
        {% comment %} Bootstrap JS {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock coreJS %}

    {% block extraJS %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock extraJS %}
</body>
</html>