{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        {% comment %} required meta tags {% endcomment %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0">
        <meta name="description" content="Shirtmonster is the first and best address for streetwear and apparel!">
        <meta name="keywords" content="streetwear, t-shirt, shirt, hoodie, print, pod, print on demand, fashion, apparel">
        <meta name="author" content="Daniel Stauffer">
        <meta name="apple-mobile-web-app-capable" content="yes">
    {% endblock meta %}

    {% comment %} FAVICON {% endcomment %}
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon/favicon.png" %}">

    {% block coreCSS %}
        {% comment %} GOOGLE FONTS {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    {% endblock coreCSS %}

    {% block extraCSS %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    {% endblock extraCSS %}

    {% comment %} TITLE {% endcomment %}
    <title>SHIRTMONSTER {% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}



    {% comment %} DESKTOP NAVBAR START {% endcomment %}
    <div id="header" class="header-desktop container-fluid fixed-top d-flex flex-column">

    <main>
        {% block content %}
            {% comment %} main content is inserted here {% endcomment %}
        {% endblock content %}
    </main>

    {% comment %} FOOTER HERE {% endcomment %}

    {% block coreJS %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock coreJS %}

    {% block extraJS %}
    {% endblock extraJS %}
</body>
</html>