{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        {% comment %} required meta tags {% endcomment %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0">
        <meta name="description" content="Shirtmonster is the first and best address for streetwear and apparel!">
        <meta name="keywords" content="t-shirt, shirt, hoodie, print, pod,  fashion, apparel, print on demand,
                                        print on demand companies, print on demand shirts, best print on demand sites,
                                        streetwear, streetwear brands, japanese streetwear, anime streetwear, streetwear hoodies">
        <meta name="author" content="Daniel Stauffer">
        <meta name="apple-mobile-web-app-capable" content="yes">
    {% endblock meta %}

    {% comment %} FAVICON {% endcomment %}
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon/favicon.png" %}">

    {% block coreCSS %}
        {% comment %} GOOGLE FONTS {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    {% endblock coreCSS %}

    {% block extraCSS %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    {% endblock extraCSS %}

    {% comment %} TITLE {% endcomment %}
    <title>SHIRTMONSTER {% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>

    {% if messages %}
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include "includes/toasts/toast_error.html" %}
                {% elif level == 30 %}
                    {% include "includes/toasts/toast_warning.html" %}
                {% elif level == 25 %}
                    {% include "includes/toasts/toast_success.html" %}
                {% else %}
                    {% include "includes/toasts/toast_info.html" %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}

    {% comment %} RESPONSIVE NAVBAR START {% endcomment %}
    <header id="header" class="header flex flex-center flex-column">
        <div class="container top-nav flex flex-center">
            <div class="column-3 flex flex-between flex-center-y">
                <a class="logo-link" href="{% url 'home' %}">
                    <img class="logo" src="{% static 'img/logo/shirtmonster-logo-white.svg' %}" alt="The shirtmonster logo">
                </a>
                {% comment %} MOBILE NAVBAR ELEMENTS START {% endcomment %}
                <div class="mobile-icon-wrapper text-light">
                    <i id="mobile-search-open" class="mobile-search-open" data-lucide="search"></i>
                    <i id="mobile-search-close" class="mobile-search-close hide" data-lucide="x-circle"></i>
                    <i id="mobile-nav-open" class="mobile-open" data-lucide="align-right"></i>
                </div>
                {% comment %} MOBILE NAVBAR ELEMENTS END {% endcomment %}
            </div>
            <form method="get" action="{% url 'shop' %}" id="search-box" class="search-box column-3 flex">
                <input class="main-search" type="search" id="main-search" name="main-search" placeholder="Search the Shop...">
                <button class="main-search-button flex flex-center">
                    <i data-lucide="search"></i>
                </button>
            </form>
            <div class="auth-box column-3 flex flex-end">
                {% if user.is_authenticated %}
                <a class="cta-button-link text-light" href="{% url "account_logout" %}">LOGOUT</a>
                {% else %}
                <a class="cta-button-link text-light" href="{% url "account_login" %}">LOGIN</a>
                <a class="cta-button-link text-light" href="{% url "account_signup" %}">REGISTER</a>
                {% endif %}
            </div>
        </div>
        <div id="bottom-nav" class="container bottom-nav flex">
            <i id="mobile-nav-close" class="mobile-nav-close" data-lucide="x-circle"></i>
            {% if user.is_authenticated %}
            <div class="bottom-nav-column column-3 flex flex-center flex-start">
                <nav class="main-nav">
                    <ul>
                        <li><a id="home" class="text-light" href="{% url 'home' %}">HOME</a></li>
                        <li><a id="shop" class="text-light" href="{% url 'shop' %}">SHOP</a></li>
                        <li><a id="custom-shirts" class="text-light" href="{% url 'custom_shirts' %}">CONTACT | INQUIRIES</a></li>
                        <li><a id="privacy" class="text-light" href="{% url 'privacy' %}">PRIVACY</a></li>
                        
                    </ul>
                </nav>
            </div>
            <div class="filter-column column-3 flex flex-center">
                <nav id="filter-nav" class="filter-nav">
                    <ul class="flex flex-center-y">
                        <li><p class="text-light"><strong>FILTER BY:</strong></p></li>
                        <li><a id="all" class="text-light" href="{% url 'shop' %}?category=hoodies,t_shirts">ALL PRODUCTS</a></li>
                        <li><a id="hoodies" class="text-light" href="{% url 'shop' %}?category=hoodies">HOODIES</a></li>
                        <li><a id="tshirts" class="text-light" href="{% url 'shop' %}?category=t_shirts">T-SHIRTS</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column-3 flex flex-center flex-end">
                <nav class="user-nav">
                    <ul class="flex flex-end">
                        <li><a class="text-light flex flex-center" href="{% url 'user_wishlist' %}"><i data-lucide="list-todo"></a></i></li>
                        <li><a id="my-profile" class="text-light flex flex-center" href="{% url 'profile' pk=user.pk %}"><i data-lucide="circle-user-round"></i></a></li>
                        <div class="mobile-cart-wrapper flex">
                            <li><a id="cart" class="cart text-light flex flex-center" href="{% url 'cart' %}"><i data-lucide="shopping-cart"></i></a></li>
                            {% comment "needs fix not allwed as ul child" %}{% endcomment %}
                            <li>
                                <p id="grand-total" class="grand-total text-light">
                                    {% if grand_total %}
                                        {{ grand_total|floatformat:2 }}€
                                    {% else %}
                                        0.00 €
                                    {% endif %}
                                </p>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
            {% else %}
            <div class="column-3 flex flex-center flex-start">
                <nav class="main-nav text-light">
                    <ul>
                        <li><a id="home" class="text-light" href="{% url 'home' %}">HOME</a></li>
                        <li><a id="shop" class="text-light" href="{% url 'shop' %}">SHOP</a></li>
                        <li><a id="custom-shirts" class="text-light" href="{% url 'custom_shirts' %}">CONTACT | INQUIRIES</a></li>
                        <li><a id="privacy" class="text-light" href="{% url 'privacy' %}">PRIVACY</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column-3 flex flex-center flex-end">
                <nav id="filter-nav" class="filter-nav">
                    <ul>
                        <li><p class="text-light"><strong>FILTER BY:</strong></p></li>
                        <li><a id="all" class="text-light" href="{% url 'shop' %}?category=hoodies,t_shirts">ALL PRODUCTS</a></li>
                        <li><a id="hoodies" class="text-light" href="{% url 'shop' %}?category=hoodies">HOODIES</a></li>
                        <li><a id="tshirts" class="text-light" href="{% url 'shop' %}?category=t_shirts">T-SHIRTS</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column-3 flex flex-center flex-end">
                <nav class="user-nav">
                    <ul class="flex flex-end">
                        <li><a id="cart" class="text-light flex flex-center" href="{% url 'cart' %}"><i data-lucide="shopping-cart"></i></a></li>
                        <li>
                            <p id="grand-total" class="grand-total text-light">
                                {% if grand_total %}
                                    {{ grand_total|floatformat:2 }}€
                                {% else %}
                                    0.00 €
                                {% endif %}
                            </p>
                        </li>
                    </ul>
                </nav>
            </div>
            {% endif %}
            <div class="mobile-auth-box column-3 flex flex-center m-top">
                {% if user.is_authenticated %}
                <a class="cta-button-link text-light" href="{% url "account_logout" %}">LOGOUT</a>
                {% else %}
                <a class="cta-button-link text-light" href="{% url "account_login" %}">LOGIN</a>
                <a class="cta-button-link text-light" href="{% url "account_signup" %}">REGISTER</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}
            {% comment %} main content is inserted here {% endcomment %}
        {% endblock content %}
    </main>

    {% comment %} FOOTER HERE {% endcomment %}
    <footer class="flex flex-center text-light">
        <div class="container flex">
            <div class="footer-column-left column-3 flex flex-center-y flex-start">
                <i data-lucide="copyright"></i>
                <p class="m-left">
                    2024 Daniel Stauffer
                </p>
            </div>
            <div class="footer-column-center column-3 flex flex-center">
                <div class="social-wrapper">
                    <a href="https://facebook.com" target="blank" class="social-link m-right">
                        <i data-lucide="facebook"></i>
                    </a>
                    <a href="https://instagram.com" target="blank" class="social-link">
                        <i data-lucide="instagram"></i>
                    </a>
                    <a href="https://twitter.com" target="blank" class="social-link m-left">
                        <i data-lucide="twitter"></i>
                    </a>
                </div>
            </div>
            <div class="footer-column-right column-3 flex flex-center-y flex-end">
                <p class="m-right">
                    An educational webshop
                </p>
                <i data-lucide="graduation-cap"></i>
            </div>
        </div>
    </footer>

    {% block coreJS %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% comment %} Stripe {% endcomment %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script id="mcjs">
        !function(c,h,i,m,p) {
            m=c.createElement(h),
            p=c.getElementsByTagName(h)[0],m.async=1,
            m.src=i,p.parentNode.insertBefore(m,p)
        }(document,"script","https://chimpstatic.com/mcjs-connected/js/users/92db6c18e00ede67e0be7e869/36a117ec8b95f3aded70b936a.js");</script>
    {% endblock coreJS %}

    {% block extraJS %}
    {% endblock extraJS %}

    {% block postJS %}
    {% endblock postJS %}
</body>
</html>