{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="collection-section flex flex-center flex-column">
    <h2 class="banner text-light">MERCH REDEFINED - OUR COLLECTION 2024</h2>
    <div class="container grid m-top-large">
        {% for product in products %}
            <div class="product-card">
                <div class="product-action-icons flex flex-column">
                    <i id="wishlist-icon" data-lucide="heart"></i>
                    <i id="product-details" class="m-top" data-lucide="info"></i>
                </div>
                <div id="product-category" class="flex flex-center text-light">
                    <i data-lucide="tags"></i>
                    <p class="text-light">{{ product.category_id.display_name }}</p>
                </div>
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                <div class="product-header flex flex-between flex-center-y text-light">
                    <p class="product-name">{{ product.name }}</p>
                    <div class="product-rating">{{ product.rating }}</div>
                </div>
                <div class="product-info flex flex-between flex-center-y text-light">
                    <h3 class="product-price">{{ product.price }} €</h3>
                    <button class="to-cart-button text-light">BUY</button>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}