{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="product-detail-section flex flex-center">
        <div class="container flex">
            {% for product in products %}
                <div class="column-2">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </div>
                <div class="column-2 text-light">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.rating }}</p>
                    <hr>
                    <p>{{ product.price }} €</p>
                    <p>{{ product.description }}</p>
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="number">
                            <span id="minus" class="minus">-</span>
                            <input id="quantity-counter" name="quantity-counter" type="text" value="1"/>
                            <span id="plus" class="plus">+</span>
                        </div>
                        <button type="submit" class="to-cart-button text-light">BUY</button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
